body{
    background-color: rgb(219, 226, 234);
}
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.material-icons{
    font-size: 20px;
    color:rgb(130,130,130);
}
/* barra de navegação*/

nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
.direita{
    display: flex;
    gap: 17px;
}
nav p{
    font-weight: bold;
    border: 3px solid rgb(130, 130, 130);
    border-radius: 20px;
    padding: 7px;
}

/* primeira parte*/

header{
    display: flex;
    padding: 50px;
    gap: 20px;
}
.todo{
    font-weight: bold;
    display: flex;
    gap: 40px;
}
.inprogress{
    font-weight: bold;
    display: flex;
    gap: 40px;
    margin-left: 150px;
}
.inreview{
    font-weight: bold;
    display: flex;
    gap: 40px;
    margin-left: 90px;
}
.completed{
    font-weight: bold;
    display: flex; 
    gap: 40px;
    margin-left: 90px;
}
header h4{
    font-weight: bold;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    padding: 2px;
    background-color:rgb(194, 194, 194) ;
}
.numero{
    font-weight: bold;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    padding: 2px;
    background-color:rgb(194, 194, 194) ;
}
/* Segunda Parte*/

main {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}
.coluna{
    background-color: #e6ecf3;
    padding: 10px;
    border-radius: 8px;
    width: 250px;
    height: max-content;
}
.cartao{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.itens p{
    display: flex;
    gap: 5px;
    margin-top: 5px;
    font-weight: bold;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    padding: 4px 8px;
    display: inline-block;/*importante*/
    white-space:nowrap;
    background-color:rgb(194, 194, 194) ;
}
.data{
    padding: 7px;
}
